## Creating Modeled Tables

In [ ]:
dataset_id = "worldbank_modeled"

In [2]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'swift-area-266618:worldbank_modeled' successfully created.

#### Countries Table

In [3]:
%%bigquery
CREATE table worldbank_modeled.Countries as
Select Country_Name as country_name, Country_Code as country_code, row_number() over() as country_id
From (Select distinct Country_Name, Country_Code From worldbank_staging.Mod_GDP)

Empty DataFrame
Columns: []
Index: []

#### GDP Table

In [7]:
%%bigquery
CREATE table worldbank_modeled.GDP as
Select row_number() over() as gdp_id, country_id, Indicator_Name as indicator_name, Year as year, GDP as gdp
From worldbank_staging.Mod_GDP g Join worldbank_modeled.Countries c Using (country_name)

Empty DataFrame
Columns: []
Index: []

#### Pop Total Table

In [1]:
%%bigquery
CREATE table worldbank_modeled.Pop_Total as
Select row_number() over() as pop_id, country_id, Indicator_Name as indicator_name, Year as year, Population as population
From worldbank_staging.Mod_Pop_Total p Join worldbank_modeled.Countries c Using (country_name)

Empty DataFrame
Columns: []
Index: []

## Checking Primary Key Violations

#### Countries Table

In [5]:
%%bigquery
SELECT COUNT(*) FROM worldbank_modeled.Countries

   f0_
0  264

In [6]:
%%bigquery
SELECT COUNT(DISTINCT country_id) FROM worldbank_modeled.Countries

   f0_
0  264

#### GDP Table

In [8]:
%%bigquery
SELECT COUNT(*) FROM worldbank_modeled.GDP

     f0_
0  15576

In [9]:
%%bigquery
SELECT COUNT(DISTINCT gdp_id) FROM worldbank_modeled.GDP

     f0_
0  15576

#### Pop Total Table

In [2]:
%%bigquery
SELECT COUNT(*) FROM worldbank_modeled.Pop_Total

     f0_
0  15576

In [3]:
%%bigquery
SELECT COUNT(DISTINCT pop_id) FROM worldbank_modeled.Pop_Total

     f0_
0  15576

## Checking Foreign Key Violations

#### Pop Total Table

In [1]:
%%bigquery
SELECT COUNT(*) FROM worldbank_modeled.Pop_Total p LEFT JOIN worldbank_modeled.Countries c ON p.country_id = c.country_id WHERE c.country_id IS
NULL

   f0_
0    0

#### GDP Table

In [1]:
%%bigquery
SELECT COUNT(*) FROM worldbank_modeled.GDP g LEFT JOIN worldbank_modeled.Countries c ON g.country_id = c.country_id WHERE c.country_id IS
NULL

   f0_
0    0